<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<div th:fragment="coinListFragment" class="content" align="center">
    <table class="table"  width="500px">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Token</th>
            <th scope="col">Amount</th>
            <th scope="col">Price</th>
            <th scope="col">24h Change</th>
            <th scope="col">Total</th>
            <th scope="col">Action</th>

        </tr>
        </thead>
        <tbody>

        <tr th:if="${coinList.empty}" >
            <td colspan="4" align="center"> No Coins Available</td>
        </tr>

        <thead class="hoverTable">
        <tr th:each="coin : ${coinList}"
            th:onclick="'javascript:rowClicked();'" >

            <td><img th:src="@{${'/images/' + coin.token + '.png'}}"/></td>
            <td><span th:text="${coin.name}"> Name </span></td>
            <td><span th:text="${coin.token}"> Token </span></td>
            <td><span th:text="${coin.amount}"> Amount </span></td>
            <!--<td><span th:text="${coin.price}"> Price </span></td>-->
            <td><span th:with="var=${coin.price}" th:text="${#numbers.formatDecimal(var,1,2)+' €'}"> Price </span></td>

            <td><span th:with="var=${coin.percentage}" th:text="${#numbers.formatDecimal(var,1,2)+' %'}"> Change (24h) </span></td>
            <td><span th:with="var=${coin.amount * coin.price}" th:text="${#numbers.formatDecimal(var,0,2)+ ' €'}"> Total </span></td>

            <td>

                <form th:action="@{delete}" method="post">
                    <input type="hidden" name="id" th:value="${coin.id}"/>
                    <button type="submit" value="Delete" class="btn btn-danger">Delete</button>
                </form>
            </td>
        <script>
    function rowClicked() {
       window.location.href = "/coins/info";
    }
        </script>

        </tr>
    </thead>

        </tbody>
    </table>

</div>




</html>