<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<header class="section" th:fragment="headerFragment">
    <br/>

        <div  class="container">

            <div class="header-top">
                <h1>Cryptocurrency Portfolio</h1>

                <a>

                    <a th:href="@{/logout/}" th:text="logout">logout</a>
                    <!--<a th:href="@{/logout/}" th:if="${userName != 'Guess'}" th:text="Logout">someValue</a>-->
                    <!--<a th:href="@{/login/}" th:unless="${userName != 'Guess'}" th:text="Login">someValue</a>-->
                </a>
            </div>

            <nav>
                <a th:href="@{/}">Home</a>
                <a th:href="@{/coins/list}">Coin List</a>
                <a th:href="@{/coins/add-coin}">Add coin</a>
                <a th:href="@{/users/addUser/}" th:text="REGISTER">REGISTER</a>
                <a th:href="@{/about}">About</a>


            </nav>

        </div>


</header>


</html>