<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<header th:fragment="headerFragment">
    <br/>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/coins/list">Coins List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/coins/add-coin">Add Coin</a>
        </li>
    </ul>

</header>


</html>