

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/head_fragment.html :: head_fragment"/>
    <title>Add Coins</title>
</head>
<body>
<div  th:insert="fragments/header_fragment.html :: headerFragment"/>



<div class="container">
   <h1 align="center">ABOUT</h1>
    <div class="text">
    <p>
        A simple portfolio for cryptocurrencies to check your balance.
        Created with Java 11, Spring, SpringSecurity, Thymeleaf, JPA and MySQL.
        It is hosted in AWS EC2 using Tomcat as a webserver.
        The prices are retrieved using the API from cryptowatch.ch using REST API.
    </p>
    </div>

    <div class="contact">

        <span>Developed by Damian Otero. Check my website </span> <a href="http://damianotero.info/">damianotero.info</a>

    </div>
</div>

</body>

</html>