<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/head_fragment.html :: head_fragment" />

<body>
<div th:insert="fragments/nav-fragment.html :: navFragment" />

<div class="box-card-add">

    <div class="container">
        <h2 align="center">Register</h2>
        <form th:action="@{/users/addUser}" th:object="${user}" method="post">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" th:field="*{name}" aria-describedby="emailHelp" placeholder="User Name">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" th:field="*{password}" class="form-control" placeholder="Password">
            </div>

            <button type="submit" value="Submit" class="btn btn-primary">Register</button>

        </form>
    </div>
</div>
</body>

</html>