
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:insert="fragments/head_fragment.html :: head_fragment" />
    <title>Info</title>
</head>

<body>
<nav>

</nav>


<div class="card-flex-title">
    <img th:src="@{${'/images/' + coin.token + '.png'}}" class="img-logo" alt="Logo">
    <h5 class="coin-title" th:text="${coin.name}">Coin Name</h5>
</div>


<div th:switch="${coin.token}">


    <div th:case="BTC" th:insert="fragments/tv/BTC.html :: btc-fragment" />
<!--    <div th:case="ETH" th:insert="about :: btc-fragment" />-->
<!--    <div th:case="LTC" th:insert="dse/tv :: btc-fragment" />-->

</div>
</body>

</html>