

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/head_fragment.html :: head_fragment"/>
    <title>Info</title>
</head>
<body>

<div class="container">
   <h1 align="center">ABOUT</h1>
    <div class="text">
    <p>
        THIS IS INFO PAGE
    </p>
    </div>

    <div class="contact">

        <span>Developed by Damian Otero. Check my website </span> <a href="http://damianotero.info/">damianotero.info</a>

    </div>
</div>

</body>

</html>