<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<div th:fragment="btc-fragment" class="content" align="center">
<body>

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright">
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
        {
          "symbol": "BITFINEX:XRPUSD",
          "width": 350,
          "height": 280,
          "locale": "es",
          "dateRange": "3m",
          "colorTheme": "light",
          "trendLineColor": "#37a6ef",
          "underLineColor": "#E3F2FD",
          "isTransparent": false,
          "autosize": false,
          "largeChartUrl": ""
        }
      </script>
</div>
<!-- TradingView Widget END -->

</body>
</div>
</html>


